emailCreds.txt
csv
secret1.key
__pycache__/
token.pickle
credentials.json 
S_Email_credentials.json
A_credentials.json
Object_Detection/models
Object_Detection/input
Object_Detection/output
Object_Detection/venv
Object_Detection/full_dataset_vectors.h5
Object_Detection/retina_masked.png
Object_Detection/test_point_clouds.h5
Object_Detection/train_point_clouds.h5